{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Search {% endblock %}

{% block content %}

    {% if query %}
        <h1>Post containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
            Found {{ total_results }} result {{ total_results|pluralize }}
            {% endwith %}

        </h3>
       
        {% for post in results %}
        
        <h4>
            <a href="{{ post.get_absolute_url }}" class="custom-headings">
                {{ post.title }}
            </a>
        </h4>
        <div class="pb-3 bordebelow">
        {{ post.body|markdown|truncatewords_html:32 }}
        </div>
        {% empty %}
            <p>There are no results for your query.</p>
           
        {% endfor %}
        <p>
           
        </p>
       

        {% endif %}
       
        
{% endblock %}