{% extends "blog/base.html" %}
{% block title %}Share a post {% endblock %}

{% block content %}

{% if sent %}
<h1>E-mail successfully sent</h1>

<p>
    "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
</p>
<p><a href="{{ post.get_absolute_url }}" class="custom-link" > <i class="bi bi-arrow-left"></i> Back to the Post</a></p>

{% else %}
<h1>Share "{{ post.title }}" by e-mail</h1>
<form action="" method="post">
    <div class="row">
    <div class="col-md-12" >
    {{ form.as_p }}
    </div>
    <div  class="col-md-12 my-4" >
    {% csrf_token %}
    
    <button>Send e-mail</button>
    </div>
    </div>
</form>
{% endif %}
{% endblock %}