<div class="bordertop pt-5">
<h2>Add a new comment</h2>
</div>

<form action="{% url 'blog:post_comment' post.id %}" method="post">
    <div class="row">
        <div class="col-md-5 left">
  {{ form.name.as_field_group }}
        </div >
        <div class="col-md-5 left  ">
 
        {{ form.email.as_field_group }}
        </div >
       <div class="col-md-9 pt-2">
 {{ form.body.as_field_group }}
       </div>
        </div>
       
    {% csrf_token %}
    <div class="py-2">
    <button>Add comment </button>
    </div >
</form>